<div class="row noMar">
      <div class="col-12">
          <p class="h2Text ">Latest</p>
      </div>
  
  <div class="row noMar">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              
                <div class="col-3 gridBox">
                    <img src="" height="170px" width="320px">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-8">
                            <p class="h4Text head">
                                Movie
                              </p>
                        </div>
                          <div class="col-4">
                              <span> 
                                  <i class="fa fa-heart-o" ></i>
                              </span>
                          </div>
                            
                      </div>
                    </div>
                    
                    <p class="h5Text details">
                      Action,Adventure
                    </p>

                </div>
              </div>
              <div class="carousel-item ">
              
                  <div class="col-3 gridBox">
                      <img src="" height="170px" width="320px">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-8">
                              <p class="h4Text head">
                                  Movie
                                </p>
                          </div>
                            <div class="col-4">
                                <span> 
                                    <i class="fa fa-heart-o" ></i>
                                </span>
                            </div>
                              
                        </div>
                      </div>
                      
                      <p class="h5Text details">
                        Action,Adventure
                      </p>
  
                  </div>
                </div>
          </div>
          
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  </div>
  
  
  
